[user]
	name = seki-mei
	email = <>
[init]
	defaultBranch = main
[core]
	autocrlf = input
[diff]
	tool = nvimdiff
[merge]
	tool = nvimdiff
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
